<p id="notice"><%= notice %></p>

<h1>Lists</h1>

<%= link_to 'New List', new_list_path %>

<br>

<% @lists.each do |list| %>
  <h2><%= list.name %> <%= link_to "[+]", new_list_task_path(list) %> 
                       <%= link_to '[Edit]', edit_list_path(list) %> 
                       <%= link_to '[X] List', list, method: :delete, data: { confirm: 'Are you sure?' } %></h2>
  <% if list.tasks.empty? %>
    <%= "Nenhuma tarefa.".html_safe  %>
  <% else %>
    <table>
      <thead>
        <tr>
          <th>Task</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <%= render list.tasks %>
      </tbody>
    </table>
  <% end %>
<% end %>
